<!-- <script src="{{url_for('static' ,filename='js/datatables/jquery-3.7.0.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/data-tables.min.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/data-tables.tailwindcss.min.js')}}"></script> -->
<!--buttons dataTables-->
<!-- <script src="{{url_for('static' ,filename='js/datatables/datatables.buttons.min.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/jszip.min.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/pdfmake.min.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/buttons.html5.min.js')}}"></script> -->
<!-- <script src="{{url_for('static' ,filename='js/datatables/buttons.print.min.js')}}"></script> -->

<!-- <script src="{{url_for('static' ,filename='js/datatables/datatables.init.js')}}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/jquery-ui-custom-sortable.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/select2-adapter.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/accent-ui.js') }}"></script> -->


<script defer src="https://unpkg.com/@alpinejs/ui@3.14.6/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/@alpinejs/collapse@3.14.6/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.14.6/dist/cdn.min.js"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.tailwindcss.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- {% from "translations.html" import datatable_language, bootstrap_validator_language %} -->
<!-- <script type="text/javascript">
  $.extend(true, $.fn.dataTable.defaults, {
    language: $.parseJSON({{ datatable_language()| tojson }})
  });
  $.fn.validator.Constructor.DEFAULTS.errors = $.parseJSON({{ bootstrap_validator_language()| tojson }});
</script> -->


