{% extends 'partials/base.html' %}
{% block title %}Leaflet{% endblock title %}
{% block extra_css %}
<!-- leaflet Css -->
<link href="{{url_for('static' ,filename='libs/leaflet/leaflet.css')}}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
    <div class="grow">
        <h5 class="text-16">Leaflet</h5>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
        <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
            <a href="#!" class="text-slate-400 dark:text-zink-200">Maps</a>
        </li>
        <li class="text-slate-700 dark:text-zink-100">
            Leaflet
        </li>
    </ul>
</div>
<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-2">
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Example</h6>
            <div id="leaflet-map" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Markers, Circles and Polygons</h6>
            <div id="leaflet-map-marker" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Working with Popups</h6>
            <div id="leaflet-map-popup" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Markers with Custom Icons</h6>
            <div id="leaflet-map-custom-icons" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Interactive Choropleth Map</h6>
            <div id="leaflet-map-interactive-map" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Layer Groups and Layers Control</h6>
            <div id="leaflet-map-group-control" class="leaflet-map"></div>
        </div>
    </div><!--end card-->
</div>

{% endblock content %}

{% block extra_content %}
<!-- leaflet plugin -->
<script src="{{url_for('static' ,filename='libs/leaflet/leaflet.js')}}"></script>

<!-- leaflet map.init -->
<script src="{{url_for('static' ,filename='js/pages/leaflet-us-states.js')}}"></script>
<script src="{{url_for('static' ,filename='js/pages/leaflet-map.init.js')}}"></script>
{% endblock extra_content %}
