{% extends 'partials/base.html' %}
{% block title %}Mixed Charts{% endblock title %}

{% block content %}
<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
    <div class="grow">
        <h5 class="text-16">Mixed Charts</h5>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
        <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
            <a href="#!" class="text-slate-400 dark:text-zink-200">Apexcharts</a>
        </li>
        <li class="text-slate-700 dark:text-zink-100">
            Mixed Charts
        </li>
    </ul>
</div>
<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-2">
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Line Column</h6>
            <div id="lineColumnChart" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-orange-500"]' dir="ltr"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Multiple Y-Axis</h6>
            <div id="multipleYaxisChart" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-green-500", "bg-yellow-500"]' dir="ltr"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Line & Area</h6>
            <div id="lineAreaChart" class="apex-charts" data-chart-colors='["bg-custom-200", "bg-green-500"]' dir="ltr"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Line Column Area</h6>
            <div id="lineColumnAreaChart" class="apex-charts" data-chart-colors='["bg-sky-500", "bg-orange-500","bg-purple-500"]' dir="ltr"></div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Line Scatter</h6>
            <div id="lineScatterChart" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-yellow-500"]' dir="ltr"></div>
        </div>
    </div><!--end card-->
</div><!--end grid-->

{% endblock content %}

{% block extra_content %}
<!-- apexcharts js -->
<script src="{{url_for('static' ,filename='libs/apexcharts/apexcharts.min.js')}}"></script>

<!-- mixed init js-->
<script src="{{url_for('static' ,filename='js/pages/apexcharts-mixed.init.js')}}"></script>

{% endblock extra_content %}
