__pycache__
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
README.md
docs/
.venv/
.pytest_cache
.vscode/
.devcontainer/
debian/
integration_tests
.ruff_cache

