<?xml version="1.0" encoding="UTF-8" ?>
<AastraIPPhoneInputScreen type="string" editable="yes">
 <Title>{{ gettext('Accent Search') }}</Title>
 <Prompt>{{ gettext('Name or number:') }}</Prompt>
 <URL>{{ base_url|e }}?accent_user_uuid={{ user_uuid|e }}</URL>
 <Parameter>term</Parameter>
</AastraIPPhoneInputScreen>
