#!/bin/sh
# Copyright 2023 Accent Communications

case "$1" in
    build)
        python3 setup.py bdist
        ;;

    package)
        tar xvf dist/accent-prometheus-exporter-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
        sed -i '/ARGS=/c\ARGS="-nginx.scrape-uri http://127.0.0.1:8080/status"' /etc/default/prometheus-nginx-exporter
        systemctl enable rabbitmq_exporter
        systemctl restart rabbitmq_exporter || :
        systemctl restart accent-auth || :
        systemctl restart accent-dird || :
        systemctl restart accent-calld || :
        systemctl restart accent-chatd || :
        systemctl restart accent-sysconfd || :
        ln -sf /etc/nginx/locations/https-available/accent-sysconfd /etc/nginx/locations/https-enabled/accent-sysconfd
        ln -sf /etc/nginx/locations/https-available/asterisk-metrics /etc/nginx/locations/https-enabled/asterisk-metrics
        ln -sf /etc/nginx/locations/https-available/rabbitmq-metrics /etc/nginx/locations/https-enabled/rabbitmq-metrics
        ln -sf /etc/nginx/locations/https-available/nginx-metrics /etc/nginx/locations/https-enabled/nginx-metrics
        ln -sf /etc/nginx/sites-available/nginx-metrics /etc/nginx/sites-enabled/nginx-metrics
        asterisk -rx 'module load res_prometheus' || :
        systemctl reload nginx || :
        ;;

    uninstall)
        systemctl restart accent-auth || :
        systemctl restart accent-dird || :
        systemctl restart accent-calld || :
        systemctl restart accent-chatd || :
        systemctl restart accent-sysconfd || :
        rm -f /etc/nginx/locations/https-enabled/accent-sysconfd
        rm -f /etc/nginx/locations/https-enabled/rabbitmq-metrics
        rm -f /etc/nginx/locations/https-enabled/asterisk-metrics
        rm -f /etc/nginx/locations/https-enabled/nginx-metrics
        rm -f /etc/nginx/sites-enabled/nginx-metrics
        asterisk -rx 'module unload res_prometheus' || :
        systemctl reload nginx || :
        systemctl stop rabbitmq_exporter || :
        systemctl disable rabbitmq_exporter || :
        systemctl daemon-reload
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
