{% from "macro.html" import build_menu %}

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4">
    <div class="flex h-16 shrink-0 items-center">
      <a href="{{ current_user.get_user_index_url() }}">
        <img
          class="h-8 w-auto"
          src="{{ url_for('static', filename='img/accent-text-bird-reverse.svg') }}"
          alt="Accent Voice">
      </a>
    </div>
    <nav class="flex flex-1 flex-col">
      {{ build_menu(current_user, current_menu) }}
    </nav>
  </div>
</div>
<!-- End Static sidebar for desktop -->